* {
    color: #efefef;
    background: url(http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png) repeat center; 
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 6em;
    margin: 1%;
}

h2 {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 4em;
    margin: 1%;
}

footer {
    color: #ffff33;
    text-align: right;
    position: fixed;
    top: 89%;
    left: 87%;
}

footer a {
    color: #ffff33;
    text-align: right;
    position: fixed;
    top: 89%;
    left: 93%;
}

.goomba {
    height: 10%;
    width: 6%;
    position: fixed;
    top: 43%;
    left: 10%;
}

.bob-omb {
    opacity: 0.8;
    height: 10%;
    width: 6%;
    position: fixed;
    top: 43%;
    left: 47%;
}

.cheep {
    height: 10%;
    width: 6%;
    position: fixed;
    top: 43%;
    left: 80%;
}

.gci {
    position: fixed;
    top: 40.1%;
    left: 16%;
}

.gcb {
    position: fixed;
    top: 40%;
    left: 26%;
}
