* {
    box-sizing: border-box;
}

.background {
    background: url(http://www.csszengarden.com/214/huntington.jpg) no-repeat center fixed;
    background-size: cover;
    /*    opacity: .9;*/
    z-index: -1;
}

.background-footer {
    background: url(http://www.csszengarden.com/214/koi.jpg) no-repeat center fixed;
    background-size: cover;
    /*    opacity: .9;*/
    height: 350px;
}

.header {
    margin-bottom: 50px;
    height: 350px;
}

.logo {
    position: absolute;
    width: 20%;
    right: 800px;
    top: 90px;
}



.designs {
    color: #ffffff;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    padding-left: 10px;
    padding: 10px;
    position: absolute;
    left: 1100px;
    top: 150px;
    background-color: rgba(255,255,255, .1);
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.designs-bg {
    width: 410px;
    height: 350px;
    background-color: #000000;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 71.5%;
}

.designs:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(255,255,255, .4);
}

h1 {
    color: #ffffff;
    font-size: 4.5em;
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: -5px;
    position: absolute;
    top: 95px
}

h2 {
    color: #ffffff;
    font-size: 2em;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    margin-bottom: 50px;
    position: absolute;
    top: 175px;
}

.beauty {
    color: #c0cac3;
}

.footer {
    color: #a1b8b4;
    font-size: 3em;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    position: relative;
    text-align: center;
    top: 110px;
    height: 150px;
    right: 190px;
    opacity: .8
}

.footer a {
    color: #e5ede8;
}

.para {
    color: #2e484c;
    font-size: 1.5em;
    font-family: serif;
}

.white-bg {
    background-color: #ffffff;
}

.tree-bg {
    background: url(matthew-kosloski-18065.jpg) no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}

.green-bg {
    width: 71.5%;
    background-color: rgb(189, 214, 200);
    z-index: -1;
    opacity: 0.94;
}

.top-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dl {
    color: #809b7e;
    font-family: 'Open Sans Condensed', sans-serif;
}

.dl:hover {
    color: #ffffff;
    background-color: #0d8ba1;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

p a {
    font-family: serif;
    color: #0d8ba1;
}

p a:hover {
    font-family: serif;
    color: #0dabc1;
}

h3 {
    color: #2e484c;
    font-size: 2.5em;
    font-family: "Julius Sans One", sans-serif;
    font-weight: normal;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar {
    font-size: 1.5em;
    text-decoration-color: none;
    color: #607476;
    display: block;
    position: absolute;
    top: -50px;
}

.sidebar-bg {
    width: 410px;
    height: 919px;
    top: 350px;
    left: 71.5%;
    background-color: #e5ede8;
    position: absolute;
}

.sidebar-bg-3 {
    width: 410px;
    height: 778px;
    top: 2015px;
    left: 71.5%;
    background-color: #e5ede8;
    position: absolute;
}

.sidebar-bg-2 {
    width: 410px;
    height: 746px;
    top: 1269px;
    left: 71.5%;
    background-color: #b1cebd;
    opacity: .98;
    position: absolute;
}

.sidebar li {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 40px;
    list-style: none;
}

.sidebar a {
    color: #607476;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 25px;
    list-style: none;
}

.sidebar a:hover {
    color: #0d8ba1;
    text-decoration: none;
}

.by {
    font-size: 1em;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    color: #c0cac3;
}

.author {
    font-family: serif;
    color: #616857;
    font-size: 0.9em;
}

.bottom {
    width: 100%;
    height: 190px;
    background-color: #134347;
    position: absolute;
    z-index: -1;
}

.external {
    color: #ffffff;
    text-align: center;
    font-size: 5em;
    position: relative;
    top: 45px;
    left: 265px;
    letter-spacing: 70px;
    display: inline-block;
}

.external a {
    color: #dddddd;
}

.external a:hover {
    color: #ffffff;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}