`
@media screen and (max-width: 768px) {
    .pink {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid white;
    }
    
    .hot-pink {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid white;
    }
    
    .blue {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid white;
    }
    
    .green {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid white;
    }
    
    .orange {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid white;
    }
}
